/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Constants */
@import "constants.scss";


*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
}

/* General */
.container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--ion-color-background);
}