.header-container {
    display: flex;
    background: var(--ion-color-white-200);
    width: 100vw;
    height: 7vh;
    padding: 10px;
    border-bottom: 1px dashed black;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    .search-icon {
        height: 25px;
        width: 25px;
        color: black;
    }
}
