.container-page {
    overflow-y: scroll;
    background-color: var(--ion-color-white-200);
}

.home-banner-container {
    padding: 50px;
    border-bottom: 1px solid black;
    height: 225px;
    background-color: var(--ion-color-dark-background);
    color: var(--ion-color-background);

    .title {
        font: 5em var(--ion-font-family-bold);
    }

    .description {
        font: 1.5em var(--ion-font-family-medium);
    }
}

.news-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 225px);

    .news-row {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 75ms ease-in;

        &:hover {
            background-color: #fafafa;

            .trash-icon {
                opacity: 1;
            }
        }

        .title {
            color: #333;
            font-size: 13pt;

            span {
                color: #999;
            }
        }

        .more-info-container {
            display: flex;
            align-items: center;

            .created-at {
                color: #333;
                font-size: 13pt;
                margin-right: 12pt;
            }
        }

        .trash-icon {
            transition: transfrom 150ms ease-in,
                        opacity 100ms ease-in-out;
            height: 13pt;
            width: 13pt;
            opacity: 0;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
