<span class="container-page">
    <div class="home-banner-container">
        <h1 class="title">HN Feed</h1>
        <p class="description">We &lt;3 hacker news</p>
    </div>
    <div class="news-container" *ngIf="!loadingNews">
        <div class="news-row" *ngFor="let new of news" (click)="openStoryUrl(new)">
            <div class="title">{{ getNewsTitle(new) }} <span>- {{ new.author }} -</span></div>
            <div class="more-info-container">
                <div class="created-at">{{ getNewsDate(new) }}</div>
                <ion-icon class="trash-icon" name="trash-outline" (click)="removeNews(new)"></ion-icon>
            </div>
        </div>
    </div>
</span>
