/** Ionic CSS Variables **/
:root {
    /** Colors **/

    /* General */
    --ion-color-background: #f4f4f4;
    --ion-color-dark-background: #282828;

    /* White */
    --ion-color-white-200: #FFFFFF;
}

// ----------------Fonts----------------
@font-face {
    font-family: "Rubik Bold";
    src: url("/assets/fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik Medium";
    src: url("/assets/fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik Regular";
    src: url("/assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  :root,
  :root[mode=md],
  :root[mode=ios] {
    --ion-font-family: 'Rubik Regular';
    --ion-font-family-bold: 'Rubik Bold';
    --ion-font-family-medium: 'Rubik Medium';
  }
